*{
    box-sizing: border-box;
    margin:0
}

body{
    background-image: url(https://cdn.wallpapersafari.com/55/22/P5ABoL.jpg);
    background-size: cover;
    height: 100vh;
}

#app div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.headline{
    background-color: black;
    color: white;
    font-size: 3em;
    width: 100vw;
    position: fixed;
    top: 0;
    text-align: center;
}

.zip{
    margin-top: 50px;
}

label{
    font-size: 1.5em;
    margin: 50px 0 10px;
}

input,textarea{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    caret-color: white;
}

::placeholder{
    color: white;
}

#generate{
    background: rgba(59, 74, 107, .4);
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.5em;
    border: none;
    border-radius: 35px;
}

.entry{
    font-size: 1.3em;
}

#entryHolder{
    background: rgba(0,0,0,0.7);
    color: white;
    height: 0;
    width: 0;
    border-radius: 25px;
    justify-content: space-evenly;
    
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}